

*,
 *::before,
*::after {
    box-sizing: border-box;
}
*/
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

img {
    max-width: 100%;
    display: block;
}



.lii .title,
.lii-div .title {
    margin-bottom: 8px;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hedr {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-head {
    display: flex;
    height: 72px;
    border-bottom: 1px solid #e7e9fc;
}

/*====HEDR+++*/

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}
@media screen and (min-width: 768px) {
   .container {
    max-width: 768px;
   }
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 16px;
    }
}

.page-nav {
    display: flex;
    align-items: center;
}

.nav-ul {
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav-ul .current {
    color: #404BBF;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    margin-top: 20px;
    background-color: #404BBF;
    display: flex;
    border-radius: 2px;
    left: 0px;
    bottom: -1px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-ul .link {
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.add-ul {
    display: flex;
    gap: 40px;
}

.add-ul .link {
    font-weight: 400;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


 .link {
    text-decoration: none;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus, .link:active {
    color: #404BBF;
}

.page-add .link:hover,
.page-add .link:focus {
    color: #404BBF;
}

.page-add {
    font-style: normal;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-left: 332px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-add .link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
}

.page-nav .logo {
    margin-right: 76px;
    padding: 24px 0;
}

.span {
    color: #2e2f42;
}

.span-f {
    color: #F4F4FD;
}

.prg, .portfolio-prg {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.start {
    background-image: linear-gradient(to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)), url(../images/hero-fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2E2F42;
    background-position: center;
    max-width: 1440px;
    margin: 0 auto;
}

.start-con {
    padding: 188px 0;
}

.start-con .page-title {
    height: 120px;
    max-width: 496px;
    margin: 0 auto 48px;
}

.zagolovok {
    padding: 120px 0;
}

.conteiner-ul {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.lii {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
}

.icss {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#F4F4FD;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    background-color: #F4F4FD;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    margin-bottom: 8px;
}

.icss svg {
    flex-shrink: 0;
}

.team {
    background-color: #F4F4FD;
}

.page-title {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.section-title {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}


.button {
    margin: 0 auto;
    color: #FFF;
    background: #4D5AE5;
    background-color: #4d5ae5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    height: 56px;
    width: 169px;
    display: block;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
    background-color: #404BBF;
}

.our-team {
    background-color: #F4F4FD;
    flex-shrink: 0;
    padding: 120px 0;
}

.conteiner-team .section-title {
    margin-bottom: 72px;
}

.our-team-li {
background-color: #FFFFFF;
width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.conteiner-team-ul {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-div {
    display: flex;
    width: 264px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
    gap: 8px;
}

.team-div .prg {
    text-align: center;
}

.our-team-soc {
    justify-content: center;
    display: flex;
    gap: 24px;
}

.icst {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    gap: 24px;
}

.icon-st {
    margin: 12px;
    fill: #f4f4fd;
}

.icst-linc {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #4D5AE5;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icst-linc:hover, .icst-linc:focus {
   background-color: #404bbf;
}


.portfolio {
    padding: 120px 0 120px 0;
}

.portfolio .section-title {
    margin-bottom: 72px;
}

.conteiner-portfolio-ul {
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
    flex-wrap: wrap;
    align-content: center;
}

.liii {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    background: #FFF;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.liii:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.liii:hover p {
    transform: translateY(0%);
}

.p-port {
    position: relative;
    overflow: hidden;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.p-port:hover .overlay {
    transform: translateX(0);
}

.overlay {
    color: #F4F4FD;
    padding: 40px 32px;
    background:#4D5AE5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.lii-div {
    display: flex;
    padding: 32px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.foot {
    background-color: #2E2F42;
    padding: 100px 0;
}

.logo-foot {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.foot-text {
    color: #F4F4FD;
    letter-spacing: 0.03em;
    line-height: 1.5;
    max-width: 264px;
}

.foot-p {
    font-weight: 500;
}

.foot-div {
    margin-right: 120px;
}

.foot-cl {
    display: flex;
    align-items: baseline;
}

.icft-linc {
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icft-linc:hover, .icft-linc:focus {
    background-color: #31d0aa;
}

.foot-socli {
    display: flex;
    gap: 16px;
}

.icon-ft {
    margin: 8px;
    fill: #f4f4fd;
}

.foot-soc p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFF;
    margin-bottom: 16px;
}

.icft {
    display: flex;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-df {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    max-width: 455px;
    height: 108px;
}

.label-p {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.form-f {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.inpt-f {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color:#ffffff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    padding-left: 16px;
}

.inpt-f::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.form-btn {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    border: none;
    background-color: #4d5ae5;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
    background-color: #404BBF;
}

.ic-sub {
    margin-left: 16px;
    fill: #fff;
}





.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    padding: 72px 24px 24px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-cb {
    position: absolute;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-cb:hover, .modal-cb:focus {
   background-color: #404bbf;
   border: none;
}

.modal-cb:hover > .ic-cens,
.modal-cb:focus >.ic-cens {
   fill: #FFFFFF;
}



.ic-cens {
    width: 8px;
    height: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-bac {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.cont-form {
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.label {
    display: block;
    width: 100%;
    display: block;
    margin-bottom: 4px;
    line-height: 1.17;
    }

.label-d {
    margin-bottom: 8px;
}

.label-dtx {
    margin-bottom: 16px;
}

.inpt {
    padding-left: 38px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 40px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inpt:focus {
    border-color: #4d5ae5;
}

.inpt:focus + .mod-ic {
    fill: #4d5ae5;
}


.inpt-com::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.inpt-com {
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 120px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    resize: none;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
}

.inpt-com:focus {
    border-color: #4d5ae5;
}

.check-inp {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.linc-polic {
    line-height: 1.33333;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    margin-left: 4px;

}

.label-check span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label-check {
    margin-bottom: 24px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.check-inp:checked + .label-check span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.label-ch {
    margin-bottom: 24px;
}

.mod-ic {
    position: absolute;
    stroke: #2e2f42;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inp-wrap {
    position: relative;
}

.send-btn {
    margin: 0 auto;
    color: #FFF;
    background: #4D5AE5;
    background-color: #4d5ae5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    height: 56px;
    width: 169px;
    display: block;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover,
.send-btn:focus {
    background-color: #404BBF;
}

